<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-localstack-service.ZPM">
    <Module>
      <Name>iris-localstack-service</Name>
      <Version>1.0.3</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Service.PKG"/>
      <Resource Name="XF.PKG"/>
    </Module>
    
  </Document>
</Export>